.cards {
  border: 14px solid blue;
  display: flex;
  /* justify-content: center;
  align-items: center; */
}
img {
  float: left;
}
.four-cards {
  border: 14px solid pink;
  display: flex;
}

.Dan,
.Jon,
.Jean,
.Pat,
.Kira {
  border: 1px solid black;
  border-radius: 5px;
  padding: 20px;
}

footer {
  margin-top: 6px;
  text-align: center;
}
