body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Using max-width and margin auto here to center the grid layout within the page */
.grid-container {
  font-family: "Barlow Semi Condensed", sans-serif;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  font-size: 13px;
  max-width: 70%;
  margin: 0 auto;
}
img {
  border-radius: 50%;
  width: 40px;
  height: 40px;
}
.user-info {
  display: flex;
  gap: 20px;
  align-items: center;
}

.Dan,
.Jon,
.Jean,
.Pat,
.Kira {
  border: 1px solid white;
  border-radius: 10px;
  box-shadow: 0 20px 40px hsla(212, 6%, 44%, 0.25);
  padding: 20px;
}

.Dan {
  background-color: hsl(263, 55%, 52%);
  color: white;
  padding: 20px;

  /* grid-row: 1; */
  grid-column: 1 / span 2;
}
.Jon {
  background-color: hsl(217, 19%, 32%);
  color: white;
  padding: 20px;

  grid-row: 1;
  grid-column: 3;
}
.Jean {
  color: hsl(219, 29%, 14%);
  padding: 20px;
  /* grid-row: 2; */
  grid-column: 1;
}
.Pat {
  background-color: hsl(219, 29%, 14%);
  color: white;
  padding: 20px;

  /* grid-row: 2; */
  grid-column: 2 / span 2;
}
.Kira {
  color: hsl(217, 19%, 32%);
  padding: 20px;

  grid-column: 4;
  grid-row: 1 / span 2; /*start at row1 & span downward */
}

footer {
  text-align: center;
  margin-top: 15px;
}

/*Mobile Responsive*/
@media (max-width: 768px) {
  .grid-container {
    grid-template-columns: 1fr;
    padding: 20px;
  }
  /*Doesn't force items into special position*/
  .Dan,
  .Jon,
  .Jean,
  .Pat,
  .Kira {
    grid-column: auto;
    grid-row: auto;
  }
}
